# Ignorer les fichiers contenant des informations sensibles
terraform.tfvars

# Ignorer les fichiers générés par Terraform
.terraform/
.terraform.lock.hcl

# Ignorer les fichiers de logs ou temporaires
*.log
*.backup

client_secret.auto.tfvars
